
.boxes {
  display: flex;
  gap: 20px;
  align-self: center;
  background: black;
  margin: 10px;
}

.box {
  width: 70px;
  height: 50px;
  background: rgb(37, 37, 39);
  transition: background 0.5s;
  color: white;
  font-size: x-large;
  
}
