:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.1;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(0, 0, 0, 0.87);
    background-color: #ffffff;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  h1 {
    line-height: 1.1;
  }

  h3 {
    text-align: left;
  }

  p {
    text-align: justify;
  }

  .PagiButton {
    width: 70px;
    height: 50px;
    background: rgb(37, 37, 39);
    color: white;
    font-size: x-large;
    outline: 0px;
    margin: 2px;
  }

  .PagiButton:hover {
    width: 70px;
    height: 50px;
    background: rgb(99, 99, 107);
    color: white;
    font-size: x-large;
    outline: 0px;
    margin: 2px;
  }

  .PagiButtonActive {
    width: 70px;
    height: 50px;
    background: rgb(87, 87, 153);
    color: white;
    font-size: x-large;
    outline: 0px;
    margin: 2px;
  }

  .PagiButtonActive:hover {
    width: 70px;
    height: 50px;
    background: rgb(113, 113, 204);
    color: white;
    font-size: x-large;
    outline: 0px;
    margin: 2px;
  }

  .PagiButtonDisabled {
    width: 70px;
    height: 50px;
    background: rgba(99, 99, 107, 0.76);
    color: white;
    font-size: x-large;
    outline: 0px;
    margin: 2px;
  }
  
  .Post {
    height: 130px;
    background-color: white;
    border: 4px black solid;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
  }

  .PopupOn {
    width: 15%;
    height: 120px;
    background: rgb(37, 37, 39);
    color: white;
    font-size: x-large;
    position: absolute;
    left: 42.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .PopupOff {
    display: none;
  }

  .Input {
    width: 80%;
    height: 40px;
    background: rgb(74, 74, 95);
    color: white;
    font-size: x-large;
    margin: 8px;
    padding: 0px;
  }